:root {
  --black: rgba(13, 13, 13, 1);
  --purple: rgba(71, 38, 89, 1);
  --beige: rgba(191, 153, 76, 1);
  --light-gray: #cccccc;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Inter-Tight', serif;
  font-size: 20px;
  line-height: 120%;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: #fff;
  outline: 0;
  color: var(--black);
}

body:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  opacity: 0.07;
}

body._fixed {
  position: fixed;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  font-size: 80px;
  font-family: 'Inter-Tight', sans-serif;
  font-weight: 500;
  line-height: 100%;
}

h2 {
  font-size: calc(1em + 4vw);
  font-family: 'Inter-Tight', sans-serif;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter-Tight', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 100%;
  margin: 0;
  color: #0d0d0d;
}
a {
  color: var(--black);
  text-decoration: none;
}

.button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  background: var(--beige);
  color: #fff;
  padding: 18px;
  border: 1px solid var(--beige);
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  max-width: 230px;
  transition: all 0.3s linear;
}

.button:hover {
  background: var(--black);
  border-color: var(--black);
  color: #fff;
  transition: all 0.3s linear;
}

.color-white {
  color: #fff;
}

.color-black {
  color: var(--black);
}

p {
  font-size: 20px;
}

/*HEADER*/

header.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header__top {
  position: relative;
  z-index: 10;
  background: var(--purple);
  padding: 12px 0;
  color: #fff;
  display: flex;
  font-size: 14px;
}

.address {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.address p.address {
  margin-left: 10px;
}

img.address__img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: center;
}

li.header__top__messengers__item {
  display: flex;
  align-items: center;
}

li.header__top__messengers__item img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
}

ul.header__top__messengers {
  display: flex;
  column-gap: 20px;
}

.header__top__address {
  display: flex;
  justify-content: space-between;
}

.header__top__messengers__item .messenger__item {
  height: 22px;
  width: 22px;
  object-fit: contain;
  object-position: center;
}

a.messenger__item .contact-link__img {
  width: 100%;
  height: 100%;
}

.header__menu {
  list-style: none;
  display: flex;
}

.header__inner {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

a.header__inner__burger {
  display: none;
  cursor: pointer;
  padding: 10px;
  border: 1px solid var(--beige);
  background: #fff;
  border-radius: 30px;
  right: 20px;
  position: absolute;
  top: 7px;
  z-index: 6;
  transition: all 0.3s linear;
}

a.header__inner__burger:hover {
  background: var(--beige);
  border-color: var(--beige);
  color: #fff;
  transition: all 0.3s linear;
}

a.header__inner__burger svg {
  opacity: 0;
  transform: scale(0);
  display: none;
  transition: transform 0.5s linear, opacity 0.3s ease-in-out;
}

.header__inner__logo {
  width: 70%;
  height: 55px;
  display: block;
}

.header__inner__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.header__inner__logo_mob {
  display: none;
}

.site-header__logo {
  width: 120px;
  height: 46px;
  display: block;
}

.site-header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__inner.site-indent .site-header__logo {
}

nav.header__inner__bottom {
  padding-top: 20px;
  width: 100%;
}

nav .main-menu {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(11, max-content);
  justify-content: space-between;
  text-align: center;
  gap: 8px;
  list-style: none;
}

.menu-item a {
  display: block;
}

nav.header__inner__bottom .main-menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  padding: 9px 11px;
  cursor: pointer;
  border: 1px solid var(--light-gray);
  border-radius: 30px;
  background: #fff;
}

.main-menu .menu-item.current-menu-item {
  border-color: var(--beige);
}
/* 
.main-menu .menu-item.current-menu-item a{
  color: var(--beige);
} */

.menu-item a {
  display: block;
  font-family: 'Inter-Tight', sans-serif;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  color: var(--black);
  font-weight: 400;
  line-height: 120%;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  background: var(--beige);
  border-color: var(--beige);
  transition: all 0.3s linear;
}

.menu-item:hover a {
  color: #fff;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

/* 
.header__menu li:nth-child(6) {
  margin-right: 220px;
} */

/**********************************************************/
/* ul.header__inner__menu1,
ul.header__inner__menu2 {
  list-style: none;
  display: flex;
  gap: 6px;
}

.header__inner .container {
  display: flex;
}

.header__inner .container {
  display: flex;
  justify-content: space-between;
} */

/*HERO*/

section.hero-block {
  padding-top: 120px;
}

.swiper.hero-slider {
  position: relative;
  /* height: 98vh; */
  height: 98vh;
}

.swiper-slide.hero-slider__slide {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.hero-slider__button-prev,
.hero-slider__button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.hero-slider__button-prev,
.hero-slider__button-next {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 3;
  display: block;
  background: #fff;
  border-radius: 100%;
  top: calc(50% - 50px);
}

.hero-slider__button-prev {
  left: 18px;
}

.hero-slider__button-next {
  right: 18px;
}

.hero-slider__button-prev svg,
.hero-slider__button-next svg {
  width: 18px;
  height: 10px;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 20px;
  left: 16px;
}

.hero-slider__button-prev svg {
  left: 16px;
  transition: all 0.5s ease-in-out;
}

.hero-slider__button-prev:hover,
.hero-slider__button-next:hover {
  background: #111111;
  transition: all 0.3s linear;
}

.hero-slider__button-prev:hover svg path,
.hero-slider__button-next:hover svg path {
  stroke: #fff;
  transition: all 0.5s ease-in-out;
}

img.hero-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-slider__slide__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-slider__slide__content__more {
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
}

.hero-slider__slide__content__more__link {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.hero-slider__slide__content__more:hover {
  background: var(--black);
  color: #fff;
  transition: all 0.3s linear;
}

.hero-slider__slide__content__more:hover .hero-slider__slide__content__more__link {
  color: #fff;
  transition: all 0.3s linear;
}

.hero-slider__slide__content h2 span {
  display: inline-block;
  background: #fff;
  padding: 12px 18px;
  border-radius: 10px;
}

.hero-slider__slide__content h2 {
  text-align: center;
  font-size: calc(1em + 4vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 100%;
}

ul.sale-block {
  margin-top: 18px;
  margin-bottom: 100px;
  list-style: none;
  display: flex;
  gap: 18px;
}

ul.sale-block li {
  position: relative;
  padding: 18px;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  height: 514px;
}

ul.sale-block li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.sale-block__item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  z-index: 2;
}

.sale-block__item__content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-block__item__content__head__link {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  position: relative;
}

.sale-block__item__content__head__link svg {
  position: absolute;
}

.sale-block__item__content__head__link svg {
  position: absolute;
  left: 18px;
  top: 16px;
}

.sale-block__item__content__head__date {
  background: var(--purple);
  padding: 18px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
}

.sale-block__item__content__bottom {
  background: #fff;
  padding: 18px;
  font-size: 20px;
  font-weight: 500;
  max-width: 40%;
  border-radius: 10px;
}

.section-adv__title {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.italic {
  font-size: 100px;
}

.border {
  border: 1px solid rgba(13, 13, 13, 1);
}

ul.section-adv__grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 18px;
}

li.section-adv__grid__item.box2 {
  /* display: grid; */
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 4;
}

li.section-adv__grid__item.box6 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* .section-adv__grid__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 508px;
  width: 32.5%;
} */

/* .section-adv__grid__item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

ul.section-adv__grid li:nth-child(2),
ul.section-adv__grid li:nth-child(6) {
  width: 66%;
} */

.section-adv__grid__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 55vh;
  min-height: 400px;
}

.section-adv__grid__item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 20px;
  z-index: 2;
}

.section-adv__grid__item__content__top p {
  font-size: 100px;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
}

.section-adv__grid__item__content__bottom {
  font-size: 20px;
  font-weight: 500;
}

.section-adv__grid__item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

li.section-adv__grid__item.box6 img {
  object-position: bottom;
}

.section-adv__grid__item__img.svg-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: 2;
}

.section-adv__grid__item__img.svg-img {
  width: 200px;
  height: 192px;
  object-fit: contain;
  object-position: center;
}

.bg-beige {
  background: var(--beige);
}

.bg-purple {
  background: var(--purple);
}

section.section-adv {
  padding-top: 7em;
  padding-bottom: 7em;
}

.section-adv__description {
  padding-left: 10%;
  padding-right: 10%;
  font-size: calc(1em + 3vw);
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  margin-top: 3em;
}

.section-shop {
  padding-top: 80px;
  padding-bottom: 120px;
  background: rgba(0, 0, 0, 0.1);
}

section.section-shop .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul.shops-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  list-style: none;
}

li.shops-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px 10px;
  border-radius: 10px;
}

li.shops-list__item img {
  width: 165px;
  height: 110px;
  object-fit: contain;
  object-position: center;
}

/*PAGE*/

section.page-section {
  padding: 170px 0;
}

.page-section__title h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 300;
}

.page-section__title h2 .first-word {
  font-weight: 500;
}

.page-section__description {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.page-section__content {
  margin-top: 70px;
}

/*shop list*/

.page-shops__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  list-style: none;
  align-items: stretch;
}

.page-shops__list__item {
  position: relative;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.page-shops__list__item__logo {
  width: 204px;
  height: 136px;
}

.page-shops__list__item .shop__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.page-shops__list__item__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18px;
}

h4.psl__item__content__name {
  border: 1px solid #cccccc;
  border-radius: 30px;
  padding: 14px;
  display: inline;
}

.psl__item__content__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.psl__item__content__more__cat .shop__cat {
  font-size: 14px;
  font-weight: 400;
}

p.psl__item__content__more__floor {
  font-size: 14px;
  color: #fff;
  background: var(--purple);
  padding: 10px;
  border-radius: 20px;
  line-height: 120%;
}

/*footer*/

#footer {
  position: relative;
  background: var(--purple);
  padding: 18px 0;
  color: #fff;
}

#footer:after {
  content: '';
  width: 536px;
  height: 221px;
  background: url(../images/svg/footer-pic.svg) no-repeat;
  background-size: contain;
  background-position: bottom;
  display: block;
  position: absolute;
  bottom: 0;
  right: 12%;
}

.footer__inner {
  color: #fff;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 50px;
  justify-content: space-between;
}

.footer-menu .menu-item {
  padding: 0;
  border: none;
  background: transparent;
}

.footer-menu .menu-item a {
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 2px;
  display: inline;
  background: transparent;
  line-height: 2;
  border: none;
  padding: 0;
  color: #fff;
}

.footer-menu .menu-item a:after {
  content: '';
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

a.footer__logo.logo {
  display: block;
  width: 200px;
  height: 54px;
}

a.footer__logo.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer-menu {
  list-style: none;
}

.footer-menu {
  list-style: none;
  columns: 3;
}

.footer-menu li a {
  font-size: 14px;
}

.footer-menu li a:hover {
  color: var(--beige);
}

.footer-menu li a:hover:after {
  width: 0;
}

p.footer-address {
  text-align: right;
  font-size: 14px;
}

.footer__inner__col2 {
  padding-left: 20%;
}

.footer__inner__bottom {
  position: relative;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: flex-end;
  margin-top: 7em;
}

.wp-block-group.footer-links {
  gap: 30px;
  margin-top: 20px;
}

.footer__inner__bottom__messengers {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  justify-content: flex-end;
}

.footer__inner__bottom__messengers .messenger__item {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.footer__inner__bottom__messengers a.messenger__item .contact-link__img {
  width: 18px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 9px;
  object-fit: contain;
  object-position: center;
}

.shops-filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.shops-cat {
  padding: 12px 18px;
  border-radius: 58px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.shops-cat.active {
  background-color: #000;
  color: #fff;

}

#more-shops {
  margin-top: 75px;
}

@media (max-width: 1240px) {
  .header__inner__logo_mob {
    display: block;
    width: 200px;
    height: 54px;
    z-index: 6;
  }

  a.header__inner__logo_mob img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .header__inner__logo {
    display: none;
    width: 100%;
  }

  a.header__inner__burger {
    display: block;
    min-height: 40px;
    min-width: 40px;
    font-size: 14px;
  }

  .header__inner .container {
    display: flex;
    flex-wrap: wrap;
  }

  .header__inner__logo {
    width: 100%;
    position: relative;
    z-index: 6;
  }

  nav {
    display: none;
    width: 100%;
    justify-content: center;
    padding: 24px 0;
    background: #fff;
    position: absolute;
    top: 58px;
    left: 0;
    z-index: 5;
    transform: translateY(-50px);
    opacity: 0;
  }

  nav .main-menu {
    padding: 10px 0;
  }

  a.header__inner__burger._open span {
    color: #fff;
  }

  a.header__inner__burger._open {
    background: var(--black);
    border-color: var(--black);
    transition: all 0.5s linear;
  }

  nav._open {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.3s linear;
  }

  /* nav._open {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--purple);
  z-index: 5;
} */

  .section-adv__title {
    text-align: center;
    max-width: 60%;
  }

  .section-adv__grid__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 55vh;
    max-height: 354px;
  }

  li.shops-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
  }

  li.shops-list__item img {
    width: 154px;
    height: 104px;
    object-fit: contain;
    object-position: center;
  }

  ul.shops-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #footer:after {
    display: none;
  }

  .footer__inner__col3 {
    order: 2;
  }

  .footer__inner__col2 {
    padding-left: 0;
    order: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer__inner {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 1100px) {
  nav .main-menu {
    display: block;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item a {
    width: 230px;
  }

  nav ul .menu-item {
    margin-bottom: 6px;
  }
}

@media (max-width: 1024px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  p {
    font-size: 18px;
  }

  .sale-block__item__content__bottom {
    background: #fff;
    padding: 18px;
    font-size: 20px;
    font-weight: 500;
    max-width: 60%;
    border-radius: 10px;
  }

  ul.section-adv__grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  li.section-adv__grid__item.box3 {
    display: none;
  }

  li.section-adv__grid__item.box2 {
    /* display: grid; */
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  li.section-adv__grid__item.box6 {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: unset;
    grid-column-end: unset;
  }

  .section-adv__grid__item__content__top p {
    font-size: 50px;
  }

  .section-adv__grid__item__content__bottom {
    font-size: 18px;
  }

  .section-adv__grid__item__content {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  ul.sale-block {
    flex-direction: column;
  }

  ul.sale-block li {
    width: 100%;
    height: 484px;
  }
}

@media (max-width: 768px) {
  ul.shops-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 662px) {
  .address {
    display: none;
  }

  ul.header__top__messengers li:last-child {
    display: none;
  }

  ul.header__top__messengers {
    display: grid;
    width: 100%;
    grid-template-columns: 5% 5% 83%;
    column-gap: 20px;
  }

  li.header__top__messengers__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ul.header__top__messengers li:nth-child(3) {
    transform: translateX(-10px);
  }
}

@media (max-width: 576px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
  }

  a.header__inner__burger {
    top: 4px;
    right: 12px;
  }

  .hero-slider__button-next {
    right: 12px;
  }

  .hero-slider__button-prev {
    left: 12px;
  }

  .swiper-slide.hero-slider__slide {
    padding: 18px 12px 12px 12px;
  }

  .sale-block__item__content__bottom {
    padding: 12px;
  }

  .button {
    font-size: 14px;
    padding: 12px;
  }

  ul.sale-block {
    gap: 12px;
  }
  nav ul .menu-item a {
    /* width: auto; */
    max-width: 120px;
  }

  .sale-block__item__content__head__date {
    font-size: 14px;
  }

  .sale-block__item__content__bottom {
    font-size: 14px;
  }

  .swiper.hero-slider {
    position: relative;
    /* height: 98vh; */
    height: 70vh;
  }

  .header__inner__logo_mob {
    display: block;
    width: 177px;
    height: 48px;
  }

  section.hero-block {
    padding-top: 114px;
  }

  ul.sale-block li {
    position: relative;
    padding: 12px;
  }

  li.shops-list__item img {
    width: 108px;
    height: 72px;
    object-fit: contain;
    object-position: center;
  }

  ul.section-adv__grid {
    grid-template-columns: 1fr;
  }

  .section-adv__grid__item {
    max-height: 330px;
    min-height: auto;
  }

  .section-adv__description {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 0 auto;
    font-size: calc(1em + 3vw);
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    margin-top: 3em;
  }

  .section-adv__title {
    text-align: center;
    max-width: 100%;
  }

  .section-adv__grid__item__content__bottom {
    font-size: 14px;
  }

  .section-adv__grid__item__content {
    padding: 12px;
  }

  a.footer__logo.logo {
    display: block;
    width: 150px;
    height: 40px;
  }

  .footer__inner__bottom__messengers {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    gap: 18px;
    justify-content: flex-end;
  }

  .footer__inner__bottom {
    position: relative;
    display: block;
  }

  .wp-block-group.footer-links {
    gap: 30px;
    margin-top: 20px;
    font-size: 12px !important;
  }

  p.footer-address {
    font-size: 12px;
  }

  .footer-menu li a {
    font-size: 12px;
  }

  .footer__inner__bottom__widget .wp-block-image {
    width: 170px;
    margin-bottom: 0;
  }

  .footer__inner {
    color: #fff;
    display: grid;
    grid-template-columns: 170px 1fr;
    column-gap: 0;
    row-gap: 50px;
  }
}

@media (max-width: 480px) {
  ul.shops-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
