:root {
    --black: rgba(13, 13, 13, 1);
    --purple: rgba(71, 38, 89, 1);
    --beige: rgba(191, 153, 76, 1);
    --light-gray: #cccccc;
  }

/* .page-section__content._page-scheme__content._map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
} */

#svg_map path.area {
    fill: var(--light-gray);
}

.cls-1,
.cls-10,
.cls-17,
.cls-9 {
    fill: none;
}

.cls-2 {
    fill: #fff;
}

.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    fill: #ededed;
}

.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-3,
.cls-4,
.cls-5,
.cls-7,
.cls-8,
.cls-9 {
    stroke: #909090;
}

.stroke-1px {
    stroke-width: 1px;
}

.cls-5 {
    stroke-width: 1.01px;
}

.cls-7 {
    stroke-width: 1px;
}

.cls-8 {
    stroke-width: 1px;
}

.cls-9 {
    stroke-width: 1.01px;
}

.cls-11 {
    stroke-width: 0.97px;
}

.cls-12 {
    stroke-width: 1.01px;
}

.cls-14 {
    stroke-width: 1.01px;
}

.cls-15 {
    stroke-width: 1px;
}

.cls-16 {
    stroke-width: 1px;
}

.cls-17 {
    stroke: #606060;
    stroke-width: 10px;
}

.cls-18 {
    fill: #1d1d1d;
}

.cls-19 {
    clip-path: url(#clip-path);
}

.cls-20 {
    clip-path: url(#clip-path-2);
}

.cls-21 {
    clip-path: url(#clip-path-3);
}

.cls-22 {
    clip-path: url(#clip-path-4);
}

.cls-23 {
    clip-path: url(#clip-path-5);
}

.cls-24 {
    clip-path: url(#clip-path-6);
}

.cls-25 {
    fill: #c4c4c4;
}

.cls-26 {
    fill: #472659;
}

.selected path, g.selected polygon, g.selected rect {
    position:relative;
    fill: #fff5e1;
}

.circle{
    
}

.floors-slider__slide__floor__content {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.floors-slider__slide__floor__content #svg_map {
    width: 60%;
}

.floors-slider__slide__floor__content #areas_map {
    width: 40%;
}

ul.floors-slider__slide__number-list li {
    position: relative;
}

span.area-item__name {
    font-size: 16px;
}

input.areas-input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0;
}

ul.floors-slider__slide__number-list li .number-list__num{
    transition: all .5s linear;
}

ul.floors-slider__slide__number-list li:hover .number-list__num,
.area-item.selected .number-list__num{
    background: var(--purple);
    transition: all .5s linear;
}

/* ul.floors-slider__slide__number-list li:hover .area-item__name{
    transform: translateX(5px);
    transition: all .5s linear;
} */

#areas_map g:hover polygon, #areas_map g:hover polyline, #areas_map g:hover rect, #map-area1:hover #area1{
    /* fill: var(--beige); */
    fill: rgba(191, 153, 76, .3);
    transition: all .5s ease-in-out;
}

.area-tooltip{
    position:absolute;
}